.selectedPage {
    font-weight: bold;
    word-wrap: normal;
    display: inline-block;
    text-align: center;
    margin: 5px;
}

.numberPage {
    cursor:pointer;
    text-align: center;
}

.userItem {
    display: grid;
    grid-template-areas:
    "f i";
    grid-template-columns: 130px auto;

    background-color: rgba(1, 255, 81, 0.18);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.62);
    margin: 10px auto;
    padding: 20px;
    width: 600px;
    height: 100px;
}

.userItem:hover {
    box-shadow: 0 0 15px rgba(1, 255, 81, 0.18);
    width: 605px;

}

.userPhoto {
    width: 60px;
    border-radius: 5px;
}

.follow {
    grid-area: f;
}

.followed {
    margin-top: 5px;
    cursor: pointer;
    color: azure;
    border: none;
    background-color: rgba(28, 96, 243, 0.17);

    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
}

.followed_follow {
    background-color: rgba(1, 255, 81, 0.18);
    margin-left: 5px;
}

.followed:disabled {
    box-shadow: none;
    background-color: rgba(77, 74, 74, 0.82);
}
.followed:disabled:hover {
    box-shadow: none;
    cursor: default;
    background-color: rgba(77, 74, 74, 0.82);
}

.followed:hover {
    background-color: rgba(1, 255, 81, 0.18);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.62);

}

.info {
    grid-area: i;
}

.preloader {

}