input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.users {

    width: 80%;
    margin: 45px auto;
}

.pagination {
    display: flex;
}

.pagination div {
    display: inline-block;

}

.infoPage {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;
}

.pageInput{
    font-size: 14px;
    text-align: center;
}

.pageInput input {
    width: 40px;
    outline: none;
}

.numberPage {
    font-size: 14px;
    color: azure;
    border: none;
    background: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    padding: 3px 10px;
    margin: 10px 5px;
    text-align: center;
}

.usersSearch {
    padding: 0 30px;
}

.usersSearch form{
    display: flex;
    gap: 10px;
}

.usersSearch input {
    outline: none;
}

.usersSearch select{
    color: azure;
    padding: 5px;
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.62), 0 0 3px rgba(1, 255, 81, 0.25);
    border-radius: 5px;
    background: none;
    border: none;
    height: 25px;
}

.usersSearch option{
    background-color: rgba(0, 0, 0, 0.75);
}

.usersSearch input{
    color: azure;
    width: 100%;
    height: 15px;
    padding: 5px;
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.62), 0 0 3px rgba(1, 255, 81, 0.25);
    border-radius: 5px;
    background: none;
    border: none;
}

.userItem {
    display: grid;
    grid-template-areas:
    "f i d";
    grid-template-columns: 100px 200px 320px;

    border-radius: 5px;
    box-shadow:  0 0 10px 3px rgba(0, 0, 0, 0.62), inset 0 0 3px rgba(1, 255, 81, 0.25);
    margin: 10px auto;
    padding: 20px;
    width: 90%;
    height: 80px;
}

.userItem:hover {
    box-shadow: 0 0 15px rgba(1, 255, 81, 0.18);
    width: 91%;
}

.userPhoto {
    width: 50px;
    border-radius: 5px;
}

.follow {
    flex-direction: column;
    display: flex ;
    grid-area: f;
}

.follow a{
    margin: 0 auto;
}

.followed {
    margin-top: 10px;
    display: inline-block;
    height: 20px;
    font-size: 12px;
    /*margin: 5px auto;*/
    cursor: pointer;
    color: azure;
    border: none;
    background: none;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    /*border-radius: 3px;*/
    /*box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.62);*/

}

.followed_unfollow {
    text-shadow: 2px 2px 4px black;

}

.followed:disabled {
    text-shadow: none;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.26);

}
.followed:disabled:hover {
    box-shadow: none;
    cursor: default;
    font-size: 12px;
}

.followed:hover {
    font-size: 13px;
    font-weight: bold;
}

.info {
    grid-area: i;
    padding-left: 20px;
    font-size: 14px;

}

.stateFollow {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: rgba(85, 255, 0, 0.53);
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 0 0 5px rgb(127, 255, 0);
}

.stateUnfollow {
    background: rgba(255, 0, 21, 0.63);
    box-shadow: 0 0 5px rgb(255, 0, 0);
}

.description {
    grid-area: d;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info span, .description span{
    font-weight: bold;
}

.showMore {
    cursor: pointer;
    text-align: center;
    height: 25px;
    width: 100px;
    display: block;
    color: azure;
    border: none;
    background: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.62);


    margin: 10px auto 10px;
}

button:disabled {
    color: #3b3a3a;
    cursor: no-drop;
}