.app-wrapper {
    display: grid;

    grid-template-areas:
    "h"
    "c";

    grid-gap: 15px;
}



.app-wrapper-content {
    grid-area: c;
    color: azure;
    width: 900px;
    margin: 0 auto;
}

a {
    color: azure;
    text-decoration: none;
}

a:visited {
    color: azure;
}